/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .rpress-section .rpress-sidebar-cart-wrap {
    box-shadow: none !important; 
}

.rpress-sidebar-cart-wrap .rpress-cart .cart_item.empty {
    position: static; /* or any other positioning you prefer */
    transform: none;
    top: auto;
}
#rpress_checkout_cart_wrap .rpress.item-order {
    border-bottom: none !important;
    padding: 8px 0 9px !important;
}

.rpress.item-order {
    border-bottom: none !important;
    padding: 0 !important;
}
#rpress_checkout_cart_wrap .rpress.item-order {
    border-bottom: none !important;
    padding: 0 !important;
}

.rpress.item-order {
    border-bottom: none !important;
    padding: 0 !important;
}
/* Custom CSS for horizontal food item display */

.restropress .rpress-section .rp-col-lg-8 {
    width: 100% !important;
}
/* Custom CSS for horizontal food item display */
/* .rpress_fooditems_list {
    display: flex;
    flex-wrap: nowrap;   */
/* Add horizontal scrollbar if necessary */ 
     /* overflow-x: auto;   */
    
  /* } */

.rpress_fooditems_list .rpress_fooditem {
    flex: 0 0 auto; /* Prevent food items from stretching */
    margin-right: 20px; /* Add spacing between food items */
}
.rpress_fooditems_list .rp-col-lg-6 .rp-col-md-12 .rp-col-sm-12 .rp-col-xs-12{
    width: 100px !important; /* Use !important to override existing styles */
}
.rpress_fooditems_list .rpress_fooditem {
    width: 100%;
    margin-right: 0;
}
.rpress_fooditems_list  {
    margin: 0;
}










